@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import "~remodal/dist/remodal-default-theme.css";
@import "~remodal/dist/remodal.css";
@import "helpers/fonts";

html {
    font-size: 10px;
    overflow-x: hidden;
    font-family: 'EBA-DINPro-CondensedBold';
    width: 100%;
}

body {
    font-size: 1.6rem;
    min-height: 100vh;
    width: 100vw;
    max-width:100%;
    color: white;
    background-color: #ffcc00;
    position: relative;
    //overflow-x: hidden;
}

* {
    box-sizing: border-box;

}
li {
    list-style: none;
}
h2 {
    margin: 0;
    font-size: 3.2rem;
    font-weight: 500;
}

p {
    margin: 0;
}
a {
    &:hover {
        color: inherit;
    }
}
.title {
    font-size: 5.2rem;
    color: #552100;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'EBA-DINPro-CondensedBlack';
}
.amount-1 {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1rem;
    width: 23rem;
    height: 7.7rem;
    background-color: #ffcc00;
    border-radius: 1rem;
    border: 1px solid white;
    position: relative;
    .yellow_anim {
        width: 21rem;
        position: absolute;
        left: -8rem;
        transform: rotate(345deg);
    }
    .size {
        font-size: 3.2rem;
        font-weight: 700;
    }
    span {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: 700;
    }
}
.amount-2 {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 3rem;
    gap: 1rem;
    width: 18rem;
    height: 7.7rem;
    background-color: #ff000a;
    border-radius: 1rem;
    border: 1px solid white;
    position: relative;
    .red_anim {
        max-width: 19rem;
        position: absolute;
        left: -9rem;
        transform: rotate(345deg);
    }
    .size {
        font-size: 3.2rem;
        font-weight: 700;
    }
    span {
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: 700;
    }
}
@media only screen and (max-width: 562px) {
    .amount-1 {
        padding-right: 2rem !important;
        height: 7rem !important;
        max-width: 20rem;
        .yellow_anim {
            max-width: 16rem !important;
        }
        span {
            &:last-child {
                font-size: 2rem;
            }
        }
    }
    .amount-2 {
        padding-right: 2rem !important;
        width: 16rem !important;
        height: 7rem !important;
        .red_anim {
            left: -8rem;
            max-width: 15rem !important;
        }
        span {
            &:last-child {
                font-size: 2rem;
            }
        }
    }
}
@media only screen and (max-width: 1599px) {
    html{
        font-size: 9px;
    }
}
@media only screen and (max-width: 1366px) {
    html{
        font-size: 8px;
    }
    body{
        //overflow-x: scroll;
    }
}
@mixin responsive {
    @media only screen and (max-width: 1200px) {
        @content;
    }
}

@mixin notMobile {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}
.container {
    margin: 0 auto;
    position: relative;
    width: 120rem;
    @include responsive{
        width: 95vmin;
    }
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #552100;
    border-radius: 1rem;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
@import "blocks/header";
@import "blocks/footer";
@import "blocks/hero";
@import "blocks/prize";
@import "blocks/share";
@import "blocks/winners";
@import "blocks/faq";

@import "helpers/modals";

@import "modals/register";
@import "modals/passwordRecovery01";
@import "modals/passwordRecovery02";
@import "modals/faq-sent";
@import "modals/legal";
@import "modals/age";
@import "modals/ivy";

@import "pages/profile";
@import "pages/registration";
