section#FAQ {
    .container {
        max-width: 99rem;
    }
    .description {
        font-size: 2.6rem;
        color: #532f1c;
        font-weight: 700;
        text-align: center;
        max-width: 119rem;
    }
    .faq.active .answer {
        max-height: 30rem;
        animation: fade 0.5s ease-in-out;
    }
    svg {
        transition: transform 0.2s ease-in
    }
    .faq.active svg {
        transform: rotate(0deg);
        transition: all 0.5s;
    }
    .question  {
        display: flex;
        align-items: center;
        gap: 1.5rem;
        div {
            display: flex;
            gap: 2rem;
            align-items: center;
        }
        svg {
            transform: rotate(-90deg);
        }
        h3 {
            color:#532f1c;
            font-size: 2.6rem;
            font-weight: 700;
        }
    }
    .faq {
        max-width: 86.5rem;
        margin: 0 auto;
        margin-top: 3rem;
        cursor: pointer;
    }
    .answer {
        max-height: 0;
        overflow: hidden;
        margin-bottom: 2rem;
        transition: max-height 0.5s ease;
        p {
            color: #532f1c;
            font-size: 2.2rem;
            font-weight: 700;
            margin-left: 5.4rem;
        }
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 86.5rem;
        margin: 0 auto;
        margin-top: 2rem;
        .user {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0;
            gap: 1.3rem;
            width: 100%;
            input {
                width: 100%;
                height: 5rem;
                padding-left: 2rem;
                border-radius: 1rem;
                display: flex;
                align-items: center;
                font-size: 2.8rem;
                font-weight: 700;
                &::placeholder {
                   color: #b8b8b8;
                }
            }
        }
        textarea {
            margin-top: 2rem;
            width: 100%;
            border-radius: 1rem;
            height: 14rem;
            font-size: 2.8rem;
            font-weight: 700;
            padding-left: 2rem;
            &::placeholder {
                color: #b8b8b8;
            }
        }
        .btn {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            margin-left: 1.5rem;
            .btn-danger {
                width: 20rem;
                height: 4.7rem;
                font-size: 2.8rem;
                background-color: #ff000a;
                border-radius: 1.2rem;
                outline: none;
                border: none;
                box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, .5);
                margin: 1rem 0;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
@media only screen and (max-width: 562px) {
    section#FAQ {
        .faq.active .answer {
            max-height: 60rem !important;
        }
        .form {
            .user {
                flex-direction: column !important;
                .input {
                    width: 100% !important;
                }
            }
            textarea {
                height: 25rem !important;
            }
        }
    }
    .question {
        justify-content: space-between !important;
    }
}
@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}
