footer.footer {
    background-image: url("/assets/footerbg.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem 0 1rem 0;
    position: relative;
    bottom: 0;
    .content {
        display: flex;
        justify-content: space-between;
        font-size: 2.4rem;
    }
    .nav {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            margin-top: 2rem;
            margin-bottom: 0;
        }
    }
    .copyright {
        text-align: center;
        font-size: 1.8rem;
        margin: 0;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 562px) {
    .wrapper {
        display: flex;
        flex-direction: column;

    }
    .content {
        flex-direction: column;
        text-align: center;
        font-size: 2.1rem !important;
        font-weight: 700;
        gap: 2rem !important;
        .info {
            line-height: normal;
            span {
                width: 100%;
                display: block;
            }
        }
    }
    .nav {

        order:2;
        ul {
            flex-wrap: wrap !important;
            padding:0 !important;
            gap: 0 .5rem !important;
            font-weight: 700;

        }
    }
    .copyright {
        font-size: 1.5rem !important;
        margin-top: 2rem !important;
    }
}
