header.header {
        box-shadow: 0px 0px 25px 1px black;
    .container {
        width: 120rem;
    }
    .wrapper {
        padding: 1rem 0;
        display: grid;
        grid-template-columns: 53% 47%;
       .nav {
           display: flex;
           align-items: center;
           justify-content: space-between;

           .btn-danger {
               font-size: 2.5rem;
               border-radius: 1rem;
               background-color: #ff000a;
               text-transform: uppercase;
               outline: none;
               border: none;
           }
           .nav-link {
               color: #532f1c;
               font-size: 2.5rem;
               cursor: pointer;
               font-weight: 700;
               a {
                   &:hover {
                       color: #532f1c;
                   }
               }
           }
       }
        .nav_2 {
            justify-content: center;
            gap: 2rem
        }
   }
}
.header_mobile {
    display: none;
}

@include responsive{
    header.header {
        display: none;
    }
    .header_mobile {
        box-shadow: 0px 0px 25px 1px black;
        display: inherit;
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row ;
            padding:1rem;
        }
        .languages {
            font-size: 3rem;
            color: #552100;
        }
        .logo {
            margin-right: 3rem;
        }
        .burger {
            display: flex;
            flex-direction: column;
            gap: 0.7rem;
            span {
                width: 4rem;
                height: 0.4rem;
                background-color: #552100;
            }
        }
    }
}
