section#prize {
    background-image: url("/assets/prizebg2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    .frame {
        position: absolute;
        top:8rem ;
        z-index: -1;
        width: 100%;
    }
    .container {
        margin-top: 5rem;
        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .prizes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 3rem;
                align-items: center;
                position: relative;
                &:last-child {
                    gap: 1rem;
                }
                .change_prize {
                    animation: VR 10s infinite;
                }
                .prize_img {
                    height: 25rem;
                }
                .prize_img.prize_3 {
                    height: 31rem;
                    margin-bottom: 4rem;
                }
                .prize_name {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: #552100;
                    text-transform: uppercase;
                }
                .prize_name_3 {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: #fff254;
                    background-color: #7f3489;
                    padding: 0 2.5rem;
                    transform: skew(14deg , -10deg);
                    position: absolute;
                    bottom: 2rem;
                }
                .product {
                    position: absolute;
                    bottom: 0;
                    color: #552100;
                    right: 0;
                }
            }
        }
    }
}
@media screen and (max-width: 562px) {
    section#prize {
        margin-top: 27rem !important;
        .container {
            .content {
                flex-direction: column !important;
            }
        }
        .prize_1 {
            max-height: 24rem !important;
        }
        .prize_3 {
            max-height: 35rem !important;
        }
        .prize_name {
            font-size: 2.7rem !important;
        }
        .frame {

        }
    }
}
@keyframes VR {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
