section#prize {
    background: url("/assets/prizebg.png") no-repeat center/contain;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    position: relative;
    .frame {
        position: absolute;
        top:8rem ;
        z-index: -1;
        width: 100%;
    }
    .container {
        margin-top: 5rem;
        .content {
            display: flex;
            justify-content: space-around;
            align-items: center;
            .prizes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .prize_img {
                    max-height: 27rem;
                }
                .prize_name {
                    font-size: 3.2rem;
                    font-weight: 700;
                    color: #552100;
                    text-transform: uppercase;
                }
            }
        }
    }
}
