section#winners {
    position: relative;
    .container {
        .form {
            margin: 4rem auto;
            width: 40rem;
            .form-group {
                display: flex;
                align-items: center;
                position: relative;
                flex-wrap: nowrap;
                justify-content: space-between;
                z-index: 1;
                input {
                    font-size: 3.2rem;
                    margin-bottom: unset;
                    padding: 1.1rem 4rem;
                    width: 85%;
                    border-radius: 1rem;
                    }
                div {
                    .btn {
                        position: relative;
                        left: -4rem;
                        background-color: #ff000a;
                        border: unset;
                        border-radius: 1rem;
                        cursor: pointer;
                        height: 7.7rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 9rem;
                        transition: all .4s ease-in-out;
                    }
                }
                .btn {
                    .icon.search {
                        background: url("/assets/icons/search_icon.png") 50%/contain no-repeat;
                        width: 5.6rem;
                        height: 5.6rem;
                    }
                }
            }
        }
        .table {
            width: 86.5rem;
            margin:0 auto;
            .table_nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .winners {
                    text-transform: uppercase;
                    font-weight: 700;
                    font-size: 3.2rem;
                    width: 42rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 1rem 1rem 0 0;
                    border-top: 1px solid #fff;
                    border-left: 1px solid #fff;
                    border-right: 1px solid #fff;
                    height: 7rem;

                }
                .winners.yellow {
                    color: #552100;
                    background-color: #ffcc00;
                }
                .winners.red {
                    color: #fff;
                    background-color: #ff0009;
                }
            }
            .table_head {
                font-size: 2.4rem;
                color: #552100;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding-top: 1rem;
                border-right: 1px solid white;
                border-left: 1px solid white;
                >div {
                    text-transform: uppercase;
                    font-weight: 700;
                }
            }
            .table_data {
                border-right: 1px solid white;
                border-left: 1px solid white;
                position: relative;
                .table_body {
                    .rows {
                        display: flex;
                        font-size: 1.7rem;
                        text-transform: uppercase;
                        color: #552100;
                        align-items: center;
                        justify-content: space-around;
                    }
                }
                .yellow_img {
                    position: absolute;
                    top:0;
                    max-width: 28rem;
                    left: -19.2rem;

                }
            }
        }
        .title {
            font-size: 4.3rem;
        }
        .prizes {
            max-width: 74rem;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .btn-danger {
            width: 32rem;
            height: 8rem;
            font-size: 4.4rem;
            background-color: #ff000a;
            border-radius: 1.8rem;
            outline: none;
            border: none;
            box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, .7);
            display: block;
            margin: 4rem auto;
        }
    }
}
