@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap);
/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's default mobile first theme
   ========================================================================== */

/* Default theme styles for the background */

.remodal-bg.remodal-is-opening,
.remodal-bg.remodal-is-opened {
  filter: blur(3px);
}

/* Default theme styles of the overlay */

.remodal-overlay {
  background: rgba(43, 46, 56, 0.9);
}

.remodal-overlay.remodal-is-opening,
.remodal-overlay.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
  -webkit-animation-name: remodal-overlay-opening-keyframes;
  animation-name: remodal-overlay-opening-keyframes;
}

.remodal-overlay.remodal-is-closing {
  -webkit-animation-name: remodal-overlay-closing-keyframes;
  animation-name: remodal-overlay-closing-keyframes;
}

/* Default theme styles of the wrapper */

.remodal-wrapper {
  padding: 10px 10px 0;
}

/* Default theme styles of the modal dialog */

.remodal {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 35px;
  transform: translate3d(0, 0, 0);

  color: #2b2e38;
  background: #fff;
}

.remodal.remodal-is-opening,
.remodal.remodal-is-closing {
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
  -webkit-animation-name: remodal-opening-keyframes;
  animation-name: remodal-opening-keyframes;
}

.remodal.remodal-is-closing {
  -webkit-animation-name: remodal-closing-keyframes;
  animation-name: remodal-closing-keyframes;
}

/* Vertical align of the modal dialog */

.remodal,
.remodal-wrapper:after {
  vertical-align: middle;
}

/* Close button */

.remodal-close {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  overflow: visible;

  width: 35px;
  height: 35px;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 0.2s;
  text-decoration: none;

  color: #95979c;
  border: 0;
  outline: 0;
  background: transparent;
}

.remodal-close:hover,
.remodal-close:focus {
  color: #2b2e38;
}

.remodal-close:before {
  font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif !important;
  font-size: 25px;
  line-height: 35px;

  position: absolute;
  top: 0;
  left: 0;

  display: block;

  width: 35px;

  content: "\00d7";
  text-align: center;
}

/* Dialog buttons */

.remodal-confirm,
.remodal-cancel {
  font: inherit;

  display: inline-block;
  overflow: visible;

  min-width: 110px;
  margin: 0;
  padding: 12px 0;

  cursor: pointer;
  transition: background 0.2s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;

  border: 0;
  outline: 0;
}

.remodal-confirm {
  color: #fff;
  background: #81c784;
}

.remodal-confirm:hover,
.remodal-confirm:focus {
  background: #66bb6a;
}

.remodal-cancel {
  color: #fff;
  background: #e57373;
}

.remodal-cancel:hover,
.remodal-cancel:focus {
  background: #ef5350;
}

/* Remove inner padding and border in Firefox 4+ for the button tag. */

.remodal-confirm::-moz-focus-inner,
.remodal-cancel::-moz-focus-inner,
.remodal-close::-moz-focus-inner {
  padding: 0;

  border: 0;
}

/* Keyframes
   ========================================================================== */

@-webkit-keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
    filter: blur(0);
  }
}

@keyframes remodal-opening-keyframes {
  from {
    transform: scale(1.05);

    opacity: 0;
  }
  to {
    transform: none;

    opacity: 1;
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
    filter: blur(0);
  }
}

@keyframes remodal-closing-keyframes {
  from {
    transform: scale(1);

    opacity: 1;
  }
  to {
    transform: scale(0.95);

    opacity: 0;
    filter: blur(0);
  }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes remodal-overlay-opening-keyframes {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes remodal-overlay-closing-keyframes {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/* Media queries
   ========================================================================== */

@media only screen and (min-width: 641px) {
  .remodal {
    max-width: 700px;
  }
}

/* IE8
   ========================================================================== */

.lt-ie9 .remodal-overlay {
  background: #2b2e38;
}

.lt-ie9 .remodal {
  width: 700px;
}

/*
 *  Remodal - v1.1.1
 *  Responsive, lightweight, fast, synchronized with CSS animations, fully customizable modal window plugin with declarative configuration and hash tracking.
 *  http://vodkabears.github.io/remodal/
 *
 *  Made by Ilya Makarov
 *  Under MIT License
 */

/* ==========================================================================
   Remodal's necessary styles
   ========================================================================== */

/* Hide scroll bar */

html.remodal-is-locked {
  overflow: hidden;
  touch-action: none;
}

/* Anti FOUC */

.remodal,
[data-remodal-id] {
  display: none;
}

/* Necessary styles of the overlay */

.remodal-overlay {
  position: fixed;
  z-index: 9999;
  top: -5000px;
  right: -5000px;
  bottom: -5000px;
  left: -5000px;

  display: none;
}

/* Necessary styles of the wrapper */

.remodal-wrapper {
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: auto;

  text-align: center;

  -webkit-overflow-scrolling: touch;
}

.remodal-wrapper:after {
  display: inline-block;

  height: 100%;
  margin-left: -0.05em;

  content: "";
}

/* Fix iPad, iPhone glitches */

.remodal-overlay,
.remodal-wrapper {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* Necessary styles of the modal dialog */

.remodal {
  position: relative;

  outline: none;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

.remodal-is-initialized {
  /* Disable Anti-FOUC */
  display: inline-block;
}

@charset "UTF-8";
@font-face {
  font-family: "EBA-DINPro-CondensedBlack";
  src: url("/fonts/DINPro-CondensedBlack.woff2") format("woff2"), url("/fonts/DINPro-CondensedBlack.woff") format("woff"), url("/fonts/DINPro-CondensedBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "EBA-DINPro-CondensedBold";
  src: url("/fonts/DINPro-CondensedBold.woff2") format("woff2"), url("/fonts/DINPro-CondensedBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "EBA-DINPro-CondensedMedium";
  src: url("/fonts/DINPro-CondensedMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
html {
  font-size: 10px;
  overflow-x: hidden;
  font-family: "EBA-DINPro-CondensedBold";
  width: 100%;
}

body {
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
  color: white;
  background-color: #ffcc00;
  position: relative;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

h2 {
  margin: 0;
  font-size: 3.2rem;
  font-weight: 500;
}

p {
  margin: 0;
}

a:hover {
  color: inherit;
}

.title {
  font-size: 5.2rem;
  color: #552100;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "EBA-DINPro-CondensedBlack";
}

.amount-1 {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
  gap: 1rem;
  width: 23rem;
  height: 7.7rem;
  background-color: #ffcc00;
  border-radius: 1rem;
  border: 1px solid white;
  position: relative;
}
.amount-1 .yellow_anim {
  width: 21rem;
  position: absolute;
  left: -8rem;
  transform: rotate(345deg);
}
.amount-1 .size {
  font-size: 3.2rem;
  font-weight: 700;
}
.amount-1 span {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.amount-2 {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3rem;
  gap: 1rem;
  width: 18rem;
  height: 7.7rem;
  background-color: #ff000a;
  border-radius: 1rem;
  border: 1px solid white;
  position: relative;
}
.amount-2 .red_anim {
  max-width: 19rem;
  position: absolute;
  left: -9rem;
  transform: rotate(345deg);
}
.amount-2 .size {
  font-size: 3.2rem;
  font-weight: 700;
}
.amount-2 span {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

@media only screen and (max-width: 562px) {
  .amount-1 {
    padding-right: 2rem !important;
    height: 7rem !important;
    max-width: 20rem;
  }
  .amount-1 .yellow_anim {
    max-width: 16rem !important;
  }
  .amount-1 span:last-child {
    font-size: 2rem;
  }

  .amount-2 {
    padding-right: 2rem !important;
    width: 16rem !important;
    height: 7rem !important;
  }
  .amount-2 .red_anim {
    left: -8rem;
    max-width: 15rem !important;
  }
  .amount-2 span:last-child {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 1599px) {
  html {
    font-size: 9px;
  }
}
@media only screen and (max-width: 1366px) {
  html {
    font-size: 8px;
  }
}
.container {
  margin: 0 auto;
  position: relative;
  width: 120rem;
}
@media only screen and (max-width: 1200px) {
  .container {
    width: 95vmin;
  }
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #552100;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

header.header {
  box-shadow: 0px 0px 25px 1px black;
}
header.header .container {
  width: 120rem;
}
header.header .wrapper {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 53% 47%;
}
header.header .wrapper .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header.header .wrapper .nav .btn-danger {
  font-size: 2.5rem;
  border-radius: 1rem;
  background-color: #ff000a;
  text-transform: uppercase;
  outline: none;
  border: none;
}
header.header .wrapper .nav .nav-link {
  color: #532f1c;
  font-size: 2.5rem;
  cursor: pointer;
  font-weight: 700;
}
header.header .wrapper .nav .nav-link a:hover {
  color: #532f1c;
}
header.header .wrapper .nav_2 {
  justify-content: center;
  gap: 2rem;
}

.header_mobile {
  display: none;
}

@media only screen and (max-width: 1200px) {
  header.header {
    display: none;
  }

  .header_mobile {
    box-shadow: 0px 0px 25px 1px black;
    display: inherit;
  }
  .header_mobile .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 1rem;
  }
  .header_mobile .languages {
    font-size: 3rem;
    color: #552100;
  }
  .header_mobile .logo {
    margin-right: 3rem;
  }
  .header_mobile .burger {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  .header_mobile .burger span {
    width: 4rem;
    height: 0.4rem;
    background-color: #552100;
  }
}
footer.footer {
  background-image: url("/assets/footerbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 2rem 0 1rem 0;
  width: 100%;
  position: relative;
}
footer.footer:before {
  content: "";
  background-image: url("/assets/zigzag.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}
footer.footer .content {
  display: flex;
  justify-content: space-between;
  font-size: 2.4rem;
}
footer.footer .nav {
  font-size: 1.8rem;
  display: flex;
  justify-content: center;
}
footer.footer .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 0;
}
footer.footer .copyright {
  text-align: center;
  font-size: 1.8rem;
  margin: 0;
  padding-bottom: 1rem;
}

@media screen and (max-width: 562px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .content {
    flex-direction: column;
    text-align: center;
    font-size: 2.1rem !important;
    font-weight: 700;
    gap: 2rem !important;
  }
  .content .info {
    line-height: normal;
  }
  .content .info span {
    width: 100%;
    display: block;
  }

  .nav {
    order: 2;
  }
  .nav ul {
    flex-wrap: wrap !important;
    padding: 0 !important;
    gap: 0 0.5rem !important;
    font-weight: 700;
  }

  .copyright {
    font-size: 1.5rem !important;
    margin-top: 2rem !important;
  }
}
section#hero {
  height: 85vh;
}
section#hero .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
section#hero .wrapper .btn-danger {
  width: 32rem;
  height: 8rem;
  font-size: 4.4rem;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
}

section#prize {
  background-image: url("/assets/prizebg2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
}
section#prize .container {
  margin-top: 5rem;
}
section#prize .container .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section#prize .container .content .prizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  position: relative;
}
section#prize .container .content .prizes:last-child {
  gap: 1rem;
}
section#prize .container .content .prizes .change_prize_VR {
  -webkit-animation: VR 10s infinite;
          animation: VR 10s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
section#prize .container .content .prizes .change_prize_bober {
  position: absolute;
  top: 11rem;
  -webkit-animation: BOBER 10s infinite;
          animation: BOBER 10s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
}
section#prize .container .content .prizes .prize_img {
  height: 25rem;
}
section#prize .container .content .prizes .prize_img.prize_3 {
  height: 31rem;
  margin-bottom: 4rem;
}
section#prize .container .content .prizes .prize_name {
  font-size: 3.2rem;
  font-weight: 700;
  color: #552100;
  text-transform: uppercase;
}
section#prize .container .content .prizes .prize_name_3 {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff254;
  background-color: #7f3489;
  padding: 0 2.5rem;
  transform: skew(14deg, -10deg);
  position: absolute;
  bottom: 2rem;
}
section#prize .container .content .prizes .product {
  position: absolute;
  bottom: 0;
  color: #552100;
  right: 0;
}

@media screen and (max-width: 562px) {
  section#prize {
    margin-top: 27rem !important;
  }
  section#prize .container .content {
    flex-direction: column !important;
  }
  section#prize .container .content .change_prize_bober {
    top: 6rem !important;
  }
  section#prize .prize_1 {
    max-height: 24rem !important;
  }
  section#prize .prize_3 {
    max-height: 35rem !important;
  }
  section#prize .prize_name {
    font-size: 2.7rem !important;
  }
}
@-webkit-keyframes VR {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@keyframes VR {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}
@-webkit-keyframes BOBER {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@keyframes BOBER {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}
@media screen and (max-width: 562px) {
  section#share {
    margin-top: 40rem !important;
    overflow: hidden;
  }
  section#share .sharebg {
    display: none;
  }
  section#share .title {
    margin-top: 2rem;
  }
  section#share .container {
    display: flex;
    flex-direction: column;
  }

  .info {
    flex-direction: column !important;
  }
  .info .share_img_3 {
    left: 1rem !important;
  }
  .info .red_static {
    left: 8rem !important;
  }
  .info .yellow_static {
    right: 4rem !important;
  }

  .scan {
    flex-direction: column !important;
    padding: 0 !important;
  }
  .scan .attention {
    order: -1;
    font-size: 2rem !important;
    margin-bottom: 2rem;
  }
  .scan .scan_img {
    max-width: 32rem !important;
  }
  .scan .arrow_left {
    bottom: 11rem !important;
    left: 9% !important;
  }
  .scan .arrow_right {
    bottom: -7rem !important;
    right: 10% !important;
  }

  .info_2 {
    flex-direction: column !important;
    align-items: center;
  }
}
section#share {
  position: relative;
}
section#share:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 13rem;
  bottom: -8rem;
  left: 0;
  z-index: 2;
  background: url("/assets/frame.png") center center/cover no-repeat;
}
section#share .sharebg {
  position: absolute;
  width: 100%;
  top: 6rem;
}
section#share .container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#share .container .info .content {
  margin-top: 3rem;
  border: 1px solid white;
  width: 38rem;
  height: 27rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
section#share .container .info .content:before {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  width: 160%;
  height: 100%;
}
section#share .container .info .content .share_img_1 {
  width: 100%;
  position: relative;
  top: 2rem;
  left: 2rem;
}
section#share .container .info .content .share_img_2 {
  width: 40%;
  position: relative;
  left: 12rem;
  top: 2rem;
  -webkit-animation: phone 8s infinite;
          animation: phone 8s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
section#share .container .info .content .green_phone_candy {
  position: absolute;
  z-index: 2;
  top: 5rem;
  left: 17rem;
  -webkit-animation: candy_green 7s infinite;
          animation: candy_green 7s infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
section#share .container .info .content .blue_phone_candy {
  position: absolute;
  z-index: 2;
  top: 2rem;
  left: 5rem;
  -webkit-animation: blue_candy 7s infinite;
          animation: blue_candy 7s infinite;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
section#share .container .info .content .anim_phone_candy {
  position: absolute;
  max-width: 5.5rem;
  top: 1rem;
  right: 4rem;
  -webkit-animation: anim_candy 6s infinite;
          animation: anim_candy 6s infinite;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
section#share .container .info .content .gift {
  position: absolute;
  bottom: 8rem;
  z-index: 5;
  right: 1.5rem;
  -webkit-animation: gift 3s infinite;
          animation: gift 3s infinite;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
section#share .container .info .content .share_img_3 {
  width: 70%;
  position: relative;
  left: 6rem;
  top: 1.33rem;
}
section#share .container .info .content .red_static {
  position: absolute;
  height: 10rem;
  z-index: 3;
  bottom: 6.5rem;
  left: 7rem;
}
section#share .container .info .content .yellow_static {
  position: absolute;
  height: 10rem;
  right: 5rem;
  top: 3rem;
  z-index: 3;
  transform-origin: center center;
  transform: skew(348deg, 19deg);
}
section#share .container .info .content .description {
  background-color: #FFF;
  color: #552100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 9rem;
  position: relative;
  bottom: 10.6rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 1rem;
}
section#share .container .info .content .description.description-2 {
  bottom: 1.9rem;
}
section#share .container .info .content .description.description-3 {
  bottom: 8.2rem;
  z-index: -1;
}
section#share .container .scan {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3rem 0;
  position: relative;
  padding: 4rem;
}
section#share .container .scan .scan_img {
  max-width: 25rem;
}
section#share .container .scan .attention {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: #552100;
  text-align: center;
}
section#share .container .scan .arrow_left {
  position: absolute;
  bottom: -5rem;
  left: 14%;
  z-index: 2;
}
section#share .container .scan .arrow_right {
  position: absolute;
  bottom: -5rem;
  right: 14%;
  z-index: 2;
}
section#share .container .info_2 {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
}
section#share .container .info_2 .content {
  border: 1px solid white;
  width: 42rem;
  height: 27rem;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}
section#share .container .info_2 .content:before {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  width: 160%;
  height: 100%;
}
section#share .container .info_2 .content:last-child {
  overflow: inherit;
}
section#share .container .info_2 .content:last-child:before {
  background-image: none;
}
section#share .container .info_2 .content .share_img_4 {
  width: 70%;
  position: relative;
  left: 4rem;
  top: 2rem;
}
section#share .container .info_2 .content .share_img_5 {
  width: 100%;
  height: 99.9%;
  position: relative;
}
section#share .container .info_2 .content .share5_1 {
  position: absolute;
  z-index: 5;
  max-width: 17rem;
  left: 3rem;
  top: 3rem;
  -webkit-animation: shake 1s infinite;
          animation: shake 1s infinite;
}
section#share .container .info_2 .content .share5_2 {
  position: absolute;
  z-index: 5;
  max-width: 17rem;
  right: -1rem;
  top: -2rem;
  -webkit-animation: bober 1s infinite;
          animation: bober 1s infinite;
}
section#share .container .info_2 .content .share5_3 {
  position: absolute;
  z-index: 5;
  top: -0.8rem;
  left: 3rem;
  max-width: 3.5rem;
  -webkit-animation: note2x 1s infinite;
          animation: note2x 1s infinite;
}
section#share .container .info_2 .content .share5_4 {
  position: absolute;
  max-width: 3.5rem;
  top: 5rem;
  left: 20rem;
  -webkit-animation: note 1s infinite;
          animation: note 1s infinite;
}
section#share .container .info_2 .content .description {
  background-color: #FFF;
  color: #552100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10.5rem;
  position: relative;
  bottom: 16.2rem;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 1rem;
}
section#share .container .info_2 .content .description.description-4 {
  bottom: 13rem;
}
section#share .container .info_2 .content .description.description-5 {
  bottom: 10.6rem;
  border-radius: 0 0 1rem 1rem;
}
section#share .container .btn-danger {
  width: 32rem;
  height: 8rem;
  font-size: 4.4rem;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 4rem auto;
}

@-webkit-keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes bober {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes bober {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes note {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes note {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-50deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes note2x {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes note2x {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(25deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes gift {
  10% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(0);
  }
}
@keyframes gift {
  10% {
    transform: rotate(10deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  20% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  35% {
    transform: rotate(0);
  }
}
@-webkit-keyframes candy_green {
  0% {
    opacity: 1;
  }
  8% {
    transform: translateY(9.5rem);
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes candy_green {
  0% {
    opacity: 1;
  }
  8% {
    transform: translateY(9.5rem);
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes blue_candy {
  0% {
    opacity: 1;
  }
  15% {
    transform: translateY(12.3rem);
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blue_candy {
  0% {
    opacity: 1;
  }
  15% {
    transform: translateY(12.3rem);
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes anim_candy {
  0% {
    opacity: 1;
  }
  15% {
    transform: translateY(12.5rem);
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes anim_candy {
  0% {
    opacity: 1;
  }
  15% {
    transform: translateY(12.5rem);
    opacity: 1;
  }
  18% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes phone {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-12rem);
  }
  45% {
    transform: translateX(-12rem);
  }
  55% {
    transform: translateX(12rem);
  }
  75% {
    transform: translateX(12rem);
  }
  85% {
    transform: translateX(0);
  }
}
@keyframes phone {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-12rem);
  }
  45% {
    transform: translateX(-12rem);
  }
  55% {
    transform: translateX(12rem);
  }
  75% {
    transform: translateX(12rem);
  }
  85% {
    transform: translateX(0);
  }
}
section#winners {
  position: relative;
  width: 100%;
}
section#winners .winners_title {
  font-size: 5.2rem;
  color: #552100;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "EBA-DINPro-CondensedBlack";
  margin-top: 10rem;
}
section#winners .winnersbg {
  position: absolute;
  width: 95%;
  top: 15%;
  left: 1%;
  margin: 0 auto;
}
section#winners .container .form {
  margin: 4rem auto;
  width: 40rem;
}
section#winners .container .form .form-group {
  display: flex;
  align-items: center;
  position: relative;
  flex-wrap: nowrap;
  justify-content: center;
  z-index: 1;
  margin-left: 2rem;
}
section#winners .container .form .form-group input {
  font-size: 3.2rem;
  margin-bottom: unset;
  padding: 0rem 3rem;
  width: 60%;
  border-radius: 1rem;
}
section#winners .container .form .form-group div .btn {
  position: relative;
  left: -2rem;
  background-color: #ff000a;
  border: unset;
  border-radius: 1rem;
  cursor: pointer;
  height: 5.5rem;
  width: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease-in-out;
}
section#winners .container .form .form-group .btn .icon.search {
  background: url("/assets/icons/search_icon.png") 50%/contain no-repeat;
  width: 3.5rem;
  height: 3.5rem;
}
section#winners .container .table {
  width: 86.5rem;
  margin: 0 auto;
  position: relative;
  z-index: 3;
}
section#winners .container .table:after {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  right: -53rem;
  z-index: -1;
  width: 90%;
  height: 100%;
}
section#winners .container .table:before {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: -53rem;
  z-index: -1;
  width: 90%;
  height: 100%;
}
section#winners .container .table .table_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
section#winners .container .table .table_nav:after {
  content: "";
  position: absolute;
  width: 2.6rem;
  height: 0.1rem;
  background-color: white;
  bottom: 0;
  left: 48.5%;
}
section#winners .container .table .table_nav .winners {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.2rem;
  width: 42rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 1rem 0 0;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  height: 7rem;
}
section#winners .container .table .table_nav .winners.yellow.active {
  border-bottom: 1px solid white;
}
section#winners .container .table .table_nav .winners.red.active {
  border-bottom: 1px solid white;
}
section#winners .container .table .table_nav .winners.yellow {
  color: #552100;
  background-color: #ffcc00;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
section#winners .container .table .table_nav .winners.yellow .yellow_anim {
  height: 14rem;
  position: absolute;
  left: 0;
}
section#winners .container .table .table_nav .winners.red {
  color: #fff;
  background-color: #ff0009;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
section#winners .container .table .table_nav .winners.red .red_anim {
  height: 12rem;
  position: absolute;
  left: 0;
}
section#winners .container .table .table_head {
  font-size: 2.4rem;
  color: #552100;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
  border-right: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
}
section#winners .container .table .table_head > div {
  text-transform: uppercase;
  font-weight: 700;
}
section#winners .container .table .table_head.red {
  background-color: #ff000a;
}
section#winners .container .table .table_head.yellow {
  background-color: inherit;
}
section#winners .container .table .table_data {
  border-right: 1px solid white;
  border-left: 1px solid white;
  position: relative;
}
section#winners .container .table .table_data .table_body .rows {
  display: flex;
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #552100;
  align-items: center;
  justify-content: space-around;
}
section#winners .container .table .table_data .yellow_img {
  position: absolute;
  top: 0;
  max-width: 28rem;
  left: -19.2rem;
}
section#winners .container .table .pagination {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
  color: #552100;
}
section#winners .container .lentils {
  position: absolute;
  max-width: 10rem;
  right: 4rem;
  bottom: 25%;
  z-index: 1;
}
section#winners .container .title {
  font-size: 4.3rem;
}
section#winners .container .prizes {
  max-width: 86.5rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#winners .container .prizes:before {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 5rem;
  z-index: -1;
  width: 90%;
  height: 100%;
}
section#winners .container .btn-danger {
  width: 32rem;
  height: 8rem;
  font-size: 4.4rem;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 4rem auto;
}

@media screen and (max-width: 562px) {
  section#winners {
    font-size: 0.5vmin !important;
  }
  section#winners .winnersbg {
    display: none;
  }
  section#winners .lentils {
    display: none !important;
  }
  section#winners .container .table {
    width: 100% !important;
  }
  section#winners .container .table .table_data .table_body .rows div:nth-child(3) {
    display: none !important;
  }
  section#winners .container .table .table_head div:nth-child(3) {
    display: none !important;
  }
  section#winners .container .table .table_nav .winners {
    font-size: 2rem !important;
    padding-left: 4rem;
    width: 19.8rem !important;
  }
  section#winners .container .table .table_nav .yellow_anim {
    left: -2.5rem !important;
    height: 11rem !important;
  }
  section#winners .container .prizes {
    flex-wrap: wrap;
    justify-content: center !important;
    gap: 1rem;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
  section#winners .container .prizes_1 {
    width: 100% !important;
  }
  section#winners .yellow_img {
    display: none !important;
  }
}
section#FAQ .container {
  max-width: 99rem;
}
section#FAQ .description {
  font-size: 2.6rem;
  color: #532f1c;
  font-weight: 700;
  text-align: center;
  max-width: 119rem;
}
section#FAQ .faq.active .answer {
  max-height: 30rem;
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}
section#FAQ svg {
  transition: transform 0.2s ease-in;
}
section#FAQ .faq.active svg {
  transform: rotate(0deg);
  transition: all 0.5s;
}
section#FAQ .question {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
section#FAQ .question div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
section#FAQ .question svg {
  transform: rotate(-90deg);
}
section#FAQ .question h3 {
  color: #532f1c;
  font-size: 2.6rem;
  font-weight: 700;
}
section#FAQ .faq {
  max-width: 86.5rem;
  margin: 0 auto;
  margin-top: 3rem;
  cursor: pointer;
}
section#FAQ .answer {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 2rem;
  transition: max-height 0.5s ease;
}
section#FAQ .answer p {
  color: #532f1c;
  font-size: 2.2rem;
  font-weight: 700;
  margin-left: 6rem;
}
section#FAQ .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 86.5rem;
  margin: 0 auto;
  margin-top: 2rem;
}
section#FAQ .form .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  gap: 1.3rem;
  width: 100%;
}
section#FAQ .form .user input {
  width: 100%;
  height: 5rem;
  padding-left: 2rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  font-size: 2.8rem;
  font-weight: 700;
}
section#FAQ .form .user input::-moz-placeholder {
  color: #b8b8b8;
}
section#FAQ .form .user input:-ms-input-placeholder {
  color: #b8b8b8;
}
section#FAQ .form .user input::placeholder {
  color: #b8b8b8;
}
section#FAQ .form textarea {
  margin-top: 2rem;
  width: 100%;
  border-radius: 1rem;
  height: 14rem;
  font-size: 2.8rem;
  font-weight: 700;
  padding-left: 2rem;
}
section#FAQ .form textarea::-moz-placeholder {
  color: #b8b8b8;
}
section#FAQ .form textarea:-ms-input-placeholder {
  color: #b8b8b8;
}
section#FAQ .form textarea::placeholder {
  color: #b8b8b8;
}
section#FAQ .form .btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 1.5rem;
}
section#FAQ .form .btn .btn-danger {
  width: 20rem;
  height: 4.7rem;
  font-size: 2.8rem;
  background-color: #ff000a;
  border-radius: 1.2rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 1px rgba(0, 0, 0, 0.5);
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 562px) {
  section#FAQ .faq.active .answer {
    max-height: 60rem !important;
  }
  section#FAQ .form .user {
    flex-direction: column !important;
  }
  section#FAQ .form .user .input {
    width: 100% !important;
  }
  section#FAQ .form textarea {
    height: 25rem !important;
  }

  .answer p {
    margin-left: 6.8rem !important;
  }

  .question {
    justify-content: flex-start !important;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}
.remodal-close {
  right: 0;
  width: 5rem;
  height: 5rem;
  left: initial;
  color: #552100;
}

.remodal {
  background-color: #ffcc00;
  max-width: 42rem;
  width: 100%;
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
  padding: 2.5rem;
}
.remodal:before {
  content: "";
  background-image: url("/assets/light.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100rem;
  left: 0rem;
  position: absolute;
  bottom: -10rem;
  z-index: -1;
}
.remodal .modal_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.remodal .modal_title {
  text-transform: uppercase;
  color: #552100;
  font-size: 4.5rem;
  margin-bottom: 2rem;
}
.remodal .modal_title_h2 {
  text-transform: uppercase;
  color: #552100;
  font-size: 3.2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.remodal .modal_title_h3 {
  text-transform: uppercase;
  color: #552100;
  font-size: 2.3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.remodal .modal_title_h3 span {
  font-size: 3.7rem;
}
.remodal .modal_description {
  font-size: 1.9rem;
  color: #552100;
  text-align: left;
}
.remodal .modal_description a {
  border-bottom: 2px solid #552100;
  cursor: pointer;
}
.remodal .modal_frame {
  width: 100%;
  height: 2rem;
}
.remodal .modal_input {
  font-family: "EBA-DINPro-CondensedBlack", sans-serif;
  font-size: 2.4rem;
  border-radius: 1rem;
  padding: 1rem 1rem;
  max-width: 35rem;
  width: 100%;
}
.remodal .modal_input::-moz-placeholder {
  color: #b8b8b8;
}
.remodal .modal_input:-ms-input-placeholder {
  color: #b8b8b8;
}
.remodal .modal_input::placeholder {
  color: #b8b8b8;
}
.remodal .btn-danger {
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 1rem 4rem;
  border-radius: 2rem;
  background-color: #ff000a;
  box-shadow: 0px 7px 15px 2px rgba(0, 0, 0, 0.3);
  min-width: 16rem;
}
.remodal .btn-again {
  font-size: 2.5rem;
  max-width: 35rem;
  min-width: 16rem;
  width: 100%;
  border-radius: 2rem;
  padding: 0.8rem 0;
  outline: none;
  background-color: transparent;
  border: 2px solid #552100;
  text-transform: uppercase;
  color: #552100;
}
.remodal .btn-again:disabled {
  opacity: 0.6;
}

.remodal[data-remodal-id=password_recovery01] .btn-danger {
  max-width: 35rem;
  width: 100%;
  font-size: 3.3rem;
}
.remodal[data-remodal-id=password_recovery01] .modal_frame {
  margin: 3rem auto;
}

.remodal[data-remodal-id=password_recovery02] .modal_input {
  width: 29rem;
}
.remodal[data-remodal-id=password_recovery02] .btn-danger {
  width: 23rem;
  font-size: 3.2rem;
}
.remodal[data-remodal-id=password_recovery02] .btn-again {
  max-width: 29rem;
}
.remodal[data-remodal-id=password_recovery02] .modal_frame {
  margin: 3rem auto;
}

.remodal[data-remodal-id=legal] .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.remodal[data-remodal-id=age] .remodal {
  padding: 1rem;
}
.remodal[data-remodal-id=age] .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.remodal[data-remodal-id=age] .modal_frame {
  margin-top: 2.5rem;
}
.remodal[data-remodal-id=age] .modal_title_h2 {
  margin-top: 0;
}
.remodal[data-remodal-id=age] .faq.active .answer {
  max-height: 50rem;
  -webkit-animation: fade 0.5s ease-in-out;
          animation: fade 0.5s ease-in-out;
}
.remodal[data-remodal-id=age] svg {
  transition: transform 0.2s ease-in;
}
.remodal[data-remodal-id=age] .faq.active svg {
  transform: rotate(0deg);
  transition: all 0.5s;
}
.remodal[data-remodal-id=age] .question {
  display: flex;
  align-items: center;
  justify-content: center !important;
  gap: 1.5rem;
}
.remodal[data-remodal-id=age] .question div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.remodal[data-remodal-id=age] .question svg {
  transform: rotate(-90deg);
  margin-bottom: 1rem;
}
.remodal[data-remodal-id=age] .question h3 {
  color: #532f1c;
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.remodal[data-remodal-id=age] .faq {
  max-width: 86.5rem;
  margin: 0 auto;
  margin-top: 1.5rem;
  cursor: pointer;
}
.remodal[data-remodal-id=age] .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}
.remodal[data-remodal-id=age] .answer p {
  font-size: 1.7rem;
  font-weight: 700;
  color: #552100;
}
.remodal[data-remodal-id=age] .answer p a {
  border-bottom: 2px solid #552100;
  cursor: pointer;
}

.remodal[data-remodal-id=ivy] .modal_description {
  font-size: 2.2rem;
}
.remodal[data-remodal-id=ivy] .wrapper {
  text-align: left;
  position: relative;
}
.remodal[data-remodal-id=ivy] .wrapper .modal_list {
  font-size: 2rem;
  color: #552100;
}
.remodal[data-remodal-id=ivy] .wrapper .modal_list li:before {
  content: "•";
  position: absolute;
  left: 0;
}
.remodal[data-remodal-id=ivy] .wrapper .modal_description {
  font-size: 1.9rem;
  color: #552100;
  text-align: left;
  text-decoration: none;
}
.remodal[data-remodal-id=ivy] .wrapper .modal_description a {
  border-bottom: 2px solid #552100;
  cursor: pointer;
}

section#profile {
  background-color: #ffcc00;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section#profile .wrapper {
  max-width: 86.5rem;
}
section#profile .title {
  font-size: 3.5rem;
}
section#profile .user .name {
  font-size: 2.8rem;
  margin-left: 1rem;
  color: #552100;
}
section#profile .user .btn-danger {
  padding: 0.5rem 3rem;
  font-size: 4.4rem;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 1rem auto;
  text-transform: uppercase;
  margin-bottom: 5.7rem;
}
section#profile .user:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  top: 13rem;
  height: 10rem;
  left: 0;
  z-index: 1;
  background: url("/assets/frame.png") center center/cover no-repeat;
}
section#profile .profile_content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  align-items: center;
  margin-bottom: 5rem;
}
section#profile .profile_content .prizes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  align-items: center;
  position: relative;
}
section#profile .profile_content .prizes .swiper-btn-next {
  position: absolute;
  right: 1rem;
  top: 50%;
}
section#profile .profile_content .prizes .swiper-btn-prev {
  position: absolute;
  left: -2rem;
  top: 50%;
  transform: rotate(180deg);
}
section#profile .profile_content .prizes:last-child {
  gap: 1rem;
}
section#profile .profile_content .prizes .amount-1 {
  max-width: 18rem;
  max-height: 5.3rem;
  padding-right: 2rem;
}
section#profile .profile_content .prizes .amount-1 .yellow_anim {
  max-width: 14rem;
  left: -6rem;
}
section#profile .profile_content .prizes .amount-2 {
  max-width: 13rem;
  max-height: 5.3rem;
  padding-right: 1rem;
}
section#profile .profile_content .prizes .amount-2 .red_anim {
  max-width: 11rem;
  left: -5rem;
}
section#profile .profile_content .prizes .change_prize_VR {
  -webkit-animation: VR 10s infinite;
          animation: VR 10s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
section#profile .profile_content .prizes .change_prize_bober {
  position: absolute;
  top: 11rem;
  -webkit-animation: BOBER 10s infinite;
          animation: BOBER 10s infinite;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  opacity: 0;
}
section#profile .profile_content .prizes .prize_img {
  height: 18rem;
}
section#profile .profile_content .prizes .prize_img.prize_3 {
  height: 24rem;
  margin-bottom: 4rem;
}
section#profile .profile_content .prizes .prize_name {
  font-size: 3.2rem;
  font-weight: 700;
  color: #552100;
  text-transform: uppercase;
}
section#profile .profile_content .prizes .prize_name_VR {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff254;
  background-color: #7f3489;
  padding: 0 2.5rem;
  transform: skew(14deg, -10deg);
  position: absolute;
  bottom: 2rem;
}
section#profile .profile_content .prizes .prize_name_bober {
  font-size: 3.2rem;
  font-weight: 700;
  color: #fff254;
  background-color: #7f3489;
  padding: 0 2.5rem;
  transform: skew(14deg, -10deg);
  position: absolute;
  bottom: 2rem;
}
section#profile .profile_content .prizes .product {
  position: absolute;
  bottom: 0;
  color: #552100;
  right: 0;
}
section#profile .user_2 {
  line-height: 3.5rem;
  margin-top: 3rem;
}
section#profile .user_2 .name {
  font-size: 2.8rem;
  color: #552100;
  text-align: center;
}
section#profile .profile_table {
  position: relative;
  margin-bottom: 2rem;
}
section#profile .profile_table .profile_table_head {
  display: grid;
  grid-template-columns: 6% 16% 40%;
  font-size: 2rem;
  gap: 5rem;
  justify-content: center;
  color: #552100;
  text-transform: uppercase;
  margin: 2rem 0 1rem 0;
  margin-left: 2rem;
}
section#profile .profile_table .rows {
  padding: 1rem 0;
  display: grid;
  align-items: center;
  grid-template-columns: 8% 12% 12% 30% 30%;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  width: 100%;
  color: #552100;
  text-transform: uppercase;
  border-top: 1px solid white;
}
section#profile .profile_table .rows .yellow_static {
  max-width: 10rem;
  max-height: 6rem;
}
section#profile .profile_table .rows .info {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
section#profile .profile_table .rows .prize {
  text-transform: initial;
}
section#profile .btn-danger {
  padding: 0.3rem 5rem;
  font-size: 4.4rem;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 1rem auto;
  text-transform: uppercase;
  margin-bottom: 2.7rem;
}
section#profile .content-2 {
  display: flex;
  justify-content: center;
  gap: 10rem;
  align-items: center;
  margin-bottom: 4rem;
}

@media screen and (max-width: 562px) {
  .content-2 {
    flex-wrap: wrap;
    row-gap: 1rem !important;
    -moz-column-gap: 4rem !important;
         column-gap: 4rem !important;
  }
  .content-2 .prizes:first-child {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .rows {
    gap: 1.5rem;
  }

  .profile_content {
    -moz-column-gap: 2rem !important;
         column-gap: 2rem !important;
    row-gap: 7rem !important;
    flex-wrap: wrap;
    margin-top: 5rem !important;
  }
  .profile_content .prize_name {
    font-size: 2rem !important;
    order: 3;
  }
  .profile_content .prize_1 {
    order: 3;
  }
  .profile_content .prize_2 {
    order: 1;
    height: 15rem !important;
  }
  .profile_content .prize_3 {
    order: 2;
    height: 19rem !important;
  }
  .profile_content .prize_3 .prize_name_3 {
    font-size: 2rem !important;
    padding: 0 0.5rem !important;
  }
  .profile_content .prize_name_VR {
    font-size: 2rem !important;
    padding: 0 1.5rem !important;
    bottom: -3rem !important;
    left: 3rem;
  }
  .profile_content .prize_name_bober {
    font-size: 2.2rem !important;
    padding: 0 1.5rem !important;
    bottom: 5rem !important;
    left: 2.5rem !important;
  }
  .profile_content .change_prize_bober {
    top: 4rem !important;
  }
  .profile_content .product_VR {
    bottom: -6rem !important;
  }
  .profile_content .swiper-btn-next {
    right: -2rem !important;
  }
  .profile_content .swiper-btn-prev {
    left: -4rem !important;
  }
}
@media screen and (max-width: 562px) {
  .frame_register {
    width: 100%;
  }

  .yellow_register {
    display: none !important;
  }

  .register_again {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 1336px) and (max-width: 1440px) {
  .yellow_register {
    left: 30rem !important;
    max-width: 28rem !important;
    top: 9.1rem !important;
  }
}
section#registration {
  position: relative;
  margin-bottom: 5.4rem;
}
section#registration .frame_register {
  position: absolute;
  width: 100%;
  left: 0;
}
section#registration .yellow_register {
  position: absolute;
  left: 40rem;
  top: 8.1rem;
  max-width: 30rem;
}
section#registration .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
section#registration .wrapper .description {
  font-size: 2.8rem;
  text-align: center;
  color: #552100;
}
section#registration .wrapper .description span {
  font-size: 3.3rem;
}
section#registration .wrapper .register_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
section#registration .wrapper .register_form input {
  width: 25rem;
  border-radius: 1rem;
  padding: 0.5rem 0 0.5rem 1rem;
}
section#registration .wrapper .register_form input:focus {
  outline: none;
}
section#registration .wrapper .register_form .btn-danger {
  width: 20rem;
  height: 6rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-color: #ff000a;
  border-radius: 1.8rem;
  outline: none;
  border: none;
  box-shadow: 0px 7px 20px 2px rgba(0, 0, 0, 0.7);
  display: block;
  margin: 2rem auto;
}
section#registration .wrapper .register_again {
  margin-top: 12rem;
}
section#registration .wrapper .register_again .btn-again {
  display: block;
  margin: 0 auto;
  font-size: 2.8rem;
  color: #552100;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  border: 2px solid #552100;
  border-radius: 1rem;
  margin-top: 2rem;
  padding: 0.5rem 3rem;
}
