.remodal[data-remodal-id=ivy] {
    .modal_description {
        font-size: 2.2rem;

    }
    .wrapper {
        text-align: left;
        position: relative;
        .modal_list {
            font-size: 2rem;
            color: #552100;
            li {
                &:before {
                    content: '•';
                    position: absolute;
                    left: 0;
                }
            }
        }
        .modal_description {
            font-size: 1.9rem;
            color: #552100;
            text-align: left;
            text-decoration: none;
            a {
                border-bottom: 2px solid #552100;
                cursor: pointer;
            }
        }
    }
}
