.remodal[data-remodal-id=password_recovery02]{
  .modal_input {
      width: 29rem;
  }
  .btn-danger {
      width: 23rem;
      font-size: 3.2rem;
  }
  .btn-again {
      max-width: 29rem;
  }
  .modal_frame {
      margin: 3rem auto;
  }

}
