.remodal[data-remodal-id=password_recovery01]{
    .btn-danger {
        max-width: 35rem;
        width: 100%;
        font-size: 3.3rem;
    }
    .modal_frame {
        margin: 3rem auto;
    }

}
